<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBkj7GZhuNJfFUsCh9hrmPCyfQoNl2UyQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>131501602315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.clothesget</string>
	<key>PROJECT_ID</key>
	<string>clothes-bdec8</string>
	<key>STORAGE_BUCKET</key>
	<string>clothes-bdec8.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131501602315:ios:5d0ed92d8a0ece1fb7390e</string>
</dict>
</plist>